@import '@fontsource/dm-serif-display';
@import '@fontsource/eb-garamond';

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

.container {
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.p-4 {
    padding: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}